
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('./img/profil.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.patient{
	width:230px;
	margin:16px;
	float:left;
}

.patient .mdl-card__title{
	height:230px;
}

.container{
	
}


.container-card-wide.mdl-card {
  width: 100%;
}
.container-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: lightblue;
}
.container-card-wide > .mdl-card__menu {
  color: #fff;
}

#input-container{min-height:0px;}

#input-mdl{
	margin: 0px 20px;
	width: 93%;
}

#prescription > p > b {
	width: 100px;
    display: inline-block;
}

.prescription-row-label{
	width: 100px;
    display: inline-block;
}
.prescription-row  form{
	display: inline-block;
}